* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
    color: #000;
}

.main-content {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 17px 0;

    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn:hover {
    opacity: 0.7;
}

/* Header */
header {
    background: #fffcf4;
}

/* Navigation Bar */
.nav-stick {
    position: sticky;
    top: -28px;
    z-index: 99;
}

nav {
    padding: 36px 0 8px;
    display: flex;
    align-items: center;
}
nav .nav-menu {
    margin-left: auto;
    display: flex;
}
nav li a {
    padding: 10px 21px;

    color: #5f5b53;
    font-weight: 400;
}
nav .active {
    position: relative;

    color: #171100;
    font-weight: 600;
}
nav .active::after {
    content: "";
    display: inline-block;

    position: absolute;
    bottom: 6px;
    left: 21px;
    width: 12px;
    height: 2px;

    border-radius: 1px;
    background: #171100;
}
nav .sign-up {
    margin-left: 49px;
    width: 144px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}
.hero .body {
    display: flex;
    justify-content: space-between;
}
.hero .media-block {
    /**
        > main-content width: 1170px
        > media-block width (Design): 570px
        -> (570 / 1170) * 100 = 48.7%
    **/
    width: 48%;
    position: relative;
}

.media-block .homepage-img {
    display: block; /*Tránh bị hở 1 đoạn nhỏ*/
    width: 470px;
    height: 685px;

    object-fit: cover;
    border-radius: 20px;
}
.media-block .summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;

    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.media-block .summary .item {
    display: flex;
    align-items: center;
}
.media-block .summary .item + .item {
    margin-top: 22px;
}
.media-block .summary .icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #fff9e8;
}
.media-block .summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}
.media-block .summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}
.media-block .summary .info {
    margin-left: 16px;
}
.media-block .summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}
.media-block .summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.content-block {
    /** 
        > media-block width: 48% 
        -> content-block width: 100% - 48% = 52%
    **/
    width: 52%;
    padding-top: 64px;
    padding-left: 130px;
}
.content-block .heading {
    color: #171100;
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 6.8rem; /* 117.241% */
    letter-spacing: -0.116rem;
}
.content-block .desc {
    margin-top: 22px;

    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}
.content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}
.content-block .cta-group .courses-btn {
    width: 180px;
    padding: 24px 0;

    border-radius: 32px;
    background: #ffb900;
}
.content-block .watch-video-btn {
    display: flex;
    align-items: center;

    margin-left: 28px;

    border: none;
    background: none;
    cursor: pointer;
}
.content-block .watch-video-btn .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.content-block .watch-video-btn span {
    margin-left: 14px;

    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
}
.content-block .stats {
    margin-top: 8px;
    margin-left: -28px;
}
.content-block .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
}
